@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="../../App/js/jquery.min.js"></script>
    <script src="../../App/js/jquery.cookie.js"></script>
    <script src="../../App/Property/m2eProperties.js" type="text/javascript"></script>
    <script src="../../App/js/googleAnalytics.js" type="text/javascript"></script>
    <script>
    $(document).ready(function () {
        $("#SubmitButtonId").click(function () {            
            var url = ServerContextPah + '/Admin/AdminPostMessage';
            var headers = {
                'Content-Type': 'application/json'                
            };
            var messageType = $('#messageTypeId :selected').val();
            var sendTo = $('#sendToId :selected').val();
            if ((messageType == "notification" && sendTo == "all") || (messageType == "message" && sendTo == "all")) {
                alert("currently you can't sent message to all at once, please send using email id");
            }
            else
            {
                var adminNotificationData = {
                    userType: $('#userTypeId :selected').val(),
                    messageType: messageType,
                    sendTo: $("#EmailId").val(),
                    message: $("#textAreaMessage").val()
                };

                $.ajax({
                    url: url,
                    data: adminNotificationData,
                    method: "GET",
                    headers: headers
                }).done(function (data, status) {
                    console.log(data);
                    if (data.Status == "200") {
                        //alert("success");
                    }
                    else if (data.Status == "500") {
                        alert("Error");
                    }
                });
            }
            
        });
    });
    </script>
</head>
<body>
    <div>
        User Type : <select id="userTypeId">
                        <option value="user">User</option>
                        <option value="client">Client</option>            
                    </select> 
        <br />
        Message Type<select id="messageTypeId">
                        <option value="notification">Notification</option>
                        <option value="message">Message</option>
                        <option value="task">Task</option>            
                    </select>
        <br/>
        Send To<select id="sendToId">
                   <option value="all">All</option>
                   <option value="email">Email</option>            
               </select> <input type="text" id="EmailId" placeholder="Enter Email"/>
    </div>
    <br/>
    <textarea id="textAreaMessage" placeholder="Enter Message"></textarea>
    <br/>
    <input type="submit" id="SubmitButtonId" value="Submit"/>
</body>
</html>
