<div class="container" ng-controller="beforeLoginSignInController">

    <div class="row">
        <div class="col-md-8 row-padding-login" ng-show="!mobileDevice">
            <div class="responsive-image innerDivCenterAlign row-padding-login" ng-switch='slideshow'>
                <div ng-switch-when='1'>
                    <div class="text-blacki">Crowd Automation Requester</div>
                    <div class="div_c"></div>
                    <img class="responsive-image" src="../../App/img/login/for_institutions.png"/>
                </div>
                <div ng-switch-when='2'>
                    <div class="text-blacki">Crowd Automation Accepter</div>
                    <div class="div_c"></div>
                    <img class="responsive-image" src="../../App/img/login/for_participants.png"/>
                </div>

                <!--                <div class="slider-buttons">
                                        <a ng-click='slideshow = 1'>
                                            <div class="circle"></div>
                                        </a>
                                        <a ng-click='slideshow = 2'>
                                            <div class="circle"></div>
                                        </a>

                                    </div>-->
            </div>
        </div>

        <div class="col-md-4 row-padding1">
            <h2 class="text-aqua">Login</h2>
                <div class="body">
                    <ul style="margin-left: 0;" ng-show="showHeaderErrors" class="alert alert-{{HeaderAlert.classType}} alert-dismissable ng-hide">                                                                               
                        <li ng-show="HeaderAlert.visible" ng-bind="HeaderAlert.message"></li>
                        <li ng-show="ForgetPasswordAlert.visible"> <span ng-bind="ForgetPasswordAlert.message"></span> <a href="#"> Request a new one.</a></li>
                    </ul>
                    <div class="row">                       
                        <div class="col-md-12">
                            <span class="fl">Accepter <input type="radio" class="loginUserTypeRadioButton" name="loginUserType" id="loginUserTypeRadioButtonId" value="user" checked="checked" /></span>                          
                            <span class="fr">Requester <input type="radio" class="loginUserTypeRadioButton "  name="loginUserType" id="loginClientTypeRadioButtonId" value="client" /> </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="emailid" class="form-control ng-pristine ng-valid" placeholder="Email Id" data-i18n="beforeLoginLoginPageEmailIdText" id="LoginEmailId" ng-model="EmailId">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control ng-pristine ng-valid TextBoxBeforeLoginFormSubmitButtonClass" placeholder="Password" data-i18n="beforeLoginLoginPagePasswordText" id="LoginPasswordId" ng-model="Password">
                    </div>          
                    <div class="form-group">
                        <input type="checkbox" name="remember_me" ng-model="KeepMeSignedInCheckBox" class="ng-pristine ng-valid"> Remember me
                    </div>
                </div>

                <div class="footer">
                    <ul class="alert alert-danger alert-dismissable"  ng-show="showFooterErrors" style="margin-left: 0;">                                                                               
                        <li ng-show="EmailIdAlert.visible" ng-bind="EmailIdAlert.message"></li>
                        <li ng-show="PasswordAlert.visible" ng-bind="PasswordAlert.message"></li>
                    </ul>                                                               
                    <button class="btn bg-uni btn-block" type="submit" id="LoginFormSubmitButtonId" ng-click="Login()">Sign me in as <b><span class="userTypeId"></span></b></button>  
                    <div class="div_c"></div>
                    <p><a href="#/forgetpassword">I forgot my password</a></p>
                    <p>Create an Account<i class="fa fa-fw fa-long-arrow-right"></i><a class="text-center" href="#/signup/client" ng-bind="clientConstants.name_abb"></a> or <a class="text-center" href="#/signup/user" ng-bind="userConstants.name_abb"></a></p>
                </div>

                <div class="margin text-center">
                    
                    <span>Login as <b><span class="userTypeId"></span></b> using social networks</span>
                    <div class="div_c"></div>
                    <button class="btn bg-light-blue btn-circle" ng-click="openFacebookAuthWindow()"><i class="fa fa-facebook"></i></button>
                    <button class="btn bg-aqua btn-circle" ng-click="openLinkedinAuthWindow()"><i class="fa fa-linkedin"></i></button>
                    <button class="btn bg-red btn-circle" ng-click="openGoogleAuthWindow()"><i class="fa fa-google-plus"></i></button>

                </div>
        </div>
    </div>

</div>

