<div class="container" ng-controller="beforeLoginSignInController">

    <div class="row">
        <div class="col-md-8 row-padding-login" ng-show="!{{IsMobileDevice}}">
            <div class="responsive-image innerDivCenterAlign row-padding-login" ng-switch='slideshow'>
                <div ng-show="!isUser">
                    <div class="text-requester"><b>Crowd Automation Requester</b></div>
                    <div class="div_c"></div>
                    <img class="responsive-image" src="../../App/img/login/for_institutions.png"/>
                </div>
                <div ng-show="isUser">
                    <div class="text-accepter"><b>Crowd Automation Accepter</b></div>
                    <div class="div_c"></div>
                    <img class="responsive-image" src="../../App/img/login/for_participants.png"/>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h3 ng-class="{true:'text-accepter row-padding1', false:'text-requester row-padding1'}[isUser]">Login as</h3>
            <div class="div_c" ng-show="{{IsMobileDevice}}"></div>
            
            <div class="field_group">
                <ul style="margin-left: 0;" ng-show="showHeaderErrors" class="alert alert-{{HeaderAlert.classType}} alert-dismissable ng-hide">                                                                               
                    <li ng-show="HeaderAlert.visible" ng-bind="HeaderAlert.message"></li>
                    <li ng-show="ForgetPasswordAlert.visible"> <span ng-bind="ForgetPasswordAlert.message"></span> <a href="#"> Request a new one.</a></li>
                </ul>
                   
                <!-- Login categories -->
                <div class="field">
                    <!-- Accepter input and label -->
                    <input type="radio" class="loginUserTypeRadioButton" name="loginUserType" id="loginUserTypeRadioButtonId" value="user" />
                    <label for="loginUserTypeRadioButtonId" class="tabs tabs_accepter"><i class="fa fa-fw fa-users"></i><span> Accepter</span></label>
                    <!-- Requester input & label -->
                    <input type="radio" class="loginUserTypeRadioButton "  name="loginUserType" id="loginClientTypeRadioButtonId" value="client" />
                    <label class="tabs tabs_requester" for="loginClientTypeRadioButtonId">
                        <i class="fa fa-fw fa-user"></i> Requester</label>
                </div>
                <div class="clrfx mb-20 bt"><span class="inner-title">social media</span></div>
                <!-- Social Media Buttons -->
                <div class="sb field text-center">
                    <a class="fb entypo-facebook" ng-click="openFacebookAuthWindow()"><span ng-class="{true:'slick-tip right bg_requester_inputBox', false:'slick-tip right bg_accepter_inputBox'}[!isUser]"><span class="userTypeId"></span>-Login with Facebook</span></a>
                    <a ng-click="openGoogleAuthWindow()" class="gc"><i class="fa fa-google-plus"></i><span ng-class="{true:'slick-tip right bg_requester_inputBox', false:'slick-tip right bg_accepter_inputBox'}[!isUser]"><span class="userTypeId"></span>-Login with Google</span></a>
                    <a ng-click="openLinkedinAuthWindow()" class="in"><i class="fa fa-linkedin"></i><span ng-class="{true:'slick-tip right bg_requester_inputBox', false:'slick-tip right bg_accepter_inputBox'}[!isUser]"><span class="userTypeId"></span>-Login with Linkedin</span></a>
                </div>
                <div class="clrfx mb-20 bt"><span class="inner-title">Or</span></div>
                <!-- Username input -->
                <div class="field">
                    <input name="username" required="" class="ng-pristine ng-valid" placeholder="Email Id" data-i18n="beforeLoginLoginPageEmailIdText" id="LoginEmailId" ng-model="EmailId">
                    <span class="entypo-user icon"></span> 
                    <span ng-class="{true:'slick-tip left bg_requester_inputBox', false:'slick-tip left bg_accepter_inputBox'}[!isUser]">Enter your email</span>                       
                </div>
                <!-- Password input -->
                <div class="field">
                    <input name="password" required="" type="password" class="ng-pristine ng-valid TextBoxBeforeLoginFormSubmitButtonClass" placeholder="Password" data-i18n="beforeLoginLoginPagePasswordText" id="LoginPasswordId" ng-model="Password">
                    <span class="entypo-lock icon"></span>
                    <span ng-class="{true:'slick-tip left bg_requester_inputBox', false:'slick-tip left bg_accepter_inputBox'}[!isUser]">Enter your password</span>
                </div>
                <!-- Signed in button -->
                <input id="signed-in" type="checkbox" ng-model="KeepMeSignedInCheckBox" name="signed-in" checked="checked">
                <label class="tick" for="signed-in"><span>Keep me signed in</span></label>
                
                <div class="field">
                    <ul class="alert alert-danger alert-dismissable"  ng-show="showFooterErrors" style="margin-left: 0;">                                                                               
                        <li ng-show="EmailIdAlert.visible" ng-bind="EmailIdAlert.message"></li>
                        <li ng-show="PasswordAlert.visible" ng-bind="PasswordAlert.message"></li>
                    </ul>
                    <button ng-class="{true:'bg-requester btn btn-block', false:'bg-accepter btn btn-block'}[!isUser]" type="submit" id="LoginFormSubmitButtonId" ng-click="Login()">Sign me in as <b><span class="userTypeId"></span></b></button>                                                                 
                    <p><a href="#/forgetpassword" ng-class="{true:'text-accepter', false:'text-requester'}[isUser]">I forgot my password</a></p>
                    <p class="text-grey">Create an Account<i class="fa fa-fw fa-long-arrow-right"></i><a class="text-center text-requester" href="#/signup/client" ng-bind="clientConstants.name_abb"></a> or <a class="text-center text-accepter" href="#/signup/user" ng-bind="userConstants.name_abb"></a></p>
                </div>
            </div>
        </div>
    </div>

</div>

