<section class="content" ng-controller="forgetPasswordTemplate">
                    
        <!-- START CUSTOM TABS -->        
        <div class="container">
            <h1 class="page-header title">Changing your password is simple</h1>
            <div class="row">
	
	    		<div class="col-sm-8">
	    			<div class="contact-form">
	    			    <h4 ng-show="ForgetPasswordContent" class="title text-left">Please enter your email address to set new password.</h4>
                        <h4 ng-show="ForgetPasswordAlertContent.visible" class="title text-left alert alert-danger" style="margin-left: 0px"><i class="fa fa-ban"></i>{{ForgetPasswordAlertContent.message}}</h4>
                        <br />
	    				<div style="display: none" class="status alert alert-success"></div>
	    			    <form class="row"ng-show="ForgetPasswordForm">
	    			        <div class="form-group col-md-12">
	    			            <input id="forgetPasswordInputBoxId" type="email" placeholder="Email" class="form-control" name="email">
	    			        </div>
                     
	    			        <div class="form-group col-md-12">
	    			            <span><input type="submit" value="Cancel" onclick="location.href='/#/'" class="btn btn-primary pull-right" name="Cancel"></span>
	    			            <span style="float: right; padding: 0px 7px 0px 0px"> <input type="submit" ng-click="ForgetPasswordSendRequest()" value="Continue" class="btn btn-primary pull-right" name="Continue"></span>
	    			        </div>
	    			    </form>
	    			    <div class="form-group col-md-12" ng-show="ResendValidationOrSignup.visible">
	    			        <h5 class="title text-left">{{ResendValidationOrSignup.titile}}</h5>				    	        
	    			        <span style="float: left;"> <input type="submit" ng-click="ResendValidationCodeRequest()" value="{{ResendValidationOrSignup.buttonName}}" class="btn btn-primary pull-right"></span>
	    			    </div>
	    			</div>
	    		</div>  			
	    	</div>
            </div>
    </section>