<!-- Content Header (Page header) -->
<div ng-controller="ClientAfterLoginTemplateResponseDetail">
                <section class="content-header" >
                    <span><button class="btn btn-success btn-flat" ng-click="openTemplateInfoPageWithId(templateId)">Back</button> </span>
                        <!--<span class="active"><button ng-click="openTemplateEditPageWithId(templateId)" class="btn btn-warning">Edit</button></span>-->
                        <span class="active"><button ng-click="deleteTemplatePageWithId(templateId)" class="btn btn-danger">Delete</button></span>
                </section>

                <!-- Main content -->
                <section class="content">                   
                    <!-- top row -->
                    <div class="row">
                        <div class="col-xs-12 connectedSortable">
                            <span ng-bind="ClientTemplateResponseDetailModel.title"></span>
                        </div><!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <!-- Main row -->
                    <div class="row">
                        <!-- Left col -->
                        <section class="col-lg-12 connectedSortable">                            
                           <div class="box box-color box-bordered">
                <div class="box-title">
                    <h3>
                        <i class="icon-user"></i>Information
                    </h3>
                </div>
                <div class="box-content nopadding"> 
                            <div id="accordion2" class="accordion">
										<div class="accordion-group" ng-repeat="questionInfo in ClientTemplateResponseDetailModel.resultList">
											<div class="accordion-heading">
												<a href="#{{questionInfo.UniqueId}}Collapse" id="{{questionInfo.UniqueId}}" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle faqQuestionDivBackgroundColor">
													<b><span ng-bind-html-unsafe="questionInfo.question"></span></b> 
												</a>
											</div>
											<div class="accordion-body collapse" id="{{questionInfo.UniqueId}}Collapse">
												<div class="accordion-inner">
													<div class="col-md-3">                                                                                    
                                                        <div class="box-body">
                                                            <table class="table table-bordered">
                                                                <tbody><tr>
                                                                    <th style="width: 10px">#</th>
                                                                    <th>Options</th>                                            
                                                                    <th style="width: 40px">Count</th>
                                                                </tr>
                                                                <tr ng-repeat="data in questionInfo.dataListUI">
                                                                    <td><span ng-bind-html-unsafe="data.key"></span></td>
                                                                    <td><span ng-bind-html-unsafe="data.text"></span></td>                                           
                                                                    <td><span ng-show="data.value != 0" ng-bind-html-unsafe="data.value"></span><span ng-show="data.value == 0"> 0</span></td>
                                                                </tr>                                        
                                                            </tbody></table>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">                                                      
                                                      <div high-chart="questionInfo.highCharts"></div>
                                                    </div> 
												</div>
											</div>
										</div>
										
									</div>
                                                                                  
                </div>
            </div>
                        </section><!-- /.Left col -->                        
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
         
        <!-- page script -->
  </div>
        <script type="text/javascript">

    
    $(document).ready(function($) {
        $('.fancybox').fancybox();
    });
		</script>