@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DownloadAllCompletedTranscriptionInformation</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
<script>
$(document).ready(function($) {
	window.location=getParameterByName('returnUrl');
});
</script>