<div class="container" ng-controller="signUpUserController">
    <div class="row">
        <div class="col-md-8 row-padding-login" ng-show="!{{IsMobileDevice}}">
            <img alt="Requester" src="../../App/img/cautom.png" border="0" class="responsive-image">
        </div>

        <div class="col-md-4 row-padding1">
            <div class="field_group">
                <h2 class="text-accepter" style="font-size: 21px"><i class="fa fa-fw fa-users"></i> Crowd Automation | Accepter</h2>
                <div class="field">
                    <input name="firstname" placeholder="First name" ng-model="UserFormData.FirstName">
                    <span class="entypo-user icon"></span> 
                    <span class="slick-tip left bg_accepter_inputBox">Enter first name</span>                       
                </div>
                                       
                <div class="field">
                    <input name="lastname" placeholder="Last name" ng-model="UserFormData.LastName">
                    <span class="entypo-user icon"></span> 
                    <span class="slick-tip left bg_accepter_inputBox">Enter last name</span>                       
                </div>
                                     
                <div class="field">
                    <input name="userid" placeholder="Email ID" ng-model="UserFormData.EmailId">
                    <span class="entypo-mail icon"></span>
                    <span class="slick-tip left bg_accepter_inputBox">Enter valid email</span>                       
                </div>
                                     
                <div class="field">
                    <input name="password" placeholder="Password" id="LoginPasswordId" ng-model="UserFormData.Password">
                    <span class="entypo-lock icon"></span>
                    <span class="slick-tip left bg_accepter_inputBox">Enter password</span>
                </div>
                             
                <div class="field">
                    <input name="password2" placeholder="Retype Password" ng-model="UserFormData.ConfirmPassword">
                    <span class="entypo-lock icon"></span>
                    <span class="slick-tip left bg_accepter_inputBox">Confirm password</span>
                </div>
                <div class="field">
                    <ul class="alert alert-danger alert-dismissable"  ng-show="showErrors" style="margin-left: 0;">                                                                               
                        <li ng-show="FirstNameAlert.visible" ng-bind="FirstNameAlert.message"></li>
                        <li ng-show="LastNameAlert.visible" ng-bind="LastNameAlert.message"></li>
                        <li ng-show="EmailIdAlert.visible" ng-bind="EmailIdAlert.message"></li>
                        <li ng-show="PasswordAlert.visible" ng-bind="PasswordAlert.message"></li>
                    </ul>
                    <button type="submit" ng-click="UserSignUp()" class="btn bg-accepter btn-block">Create Accepter Account</button>                      
                    <a href="#/login" class="text-center text-accepter">I already have a membership</a>
                    <div class="div_c"></div>
                    <p>Create an Account as<i class="fa fa-fw fa-long-arrow-right"></i> <a class="text-center text-requester" href="#/signup/client">Requester</a></p>
                    <div class="field">
                        <div class="clrfx mb-20 bt"><span class="inner-title">social media</span></div>
                        <!-- Social Media Buttons -->
                        <div class="sb field text-center">
                            <a class="fb entypo-facebook" ng-click="openFacebookAuthWindow()"><span class="slick-tip right bg_accepter_inputBox">Signup with Facebook</span></a>
                            <a ng-click="openGoogleAuthWindow()" class="gc"><i class="fa fa-google-plus"></i><span class="slick-tip right bg_accepter_inputBox">Signup with Google</span></a>
                            <a ng-click="openLinkedinAuthWindow()" class="in"><i class="fa fa-linkedin"></i><span class="slick-tip right bg_accepter_inputBox">Signup with Linkedin</span></a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>