<!-- Content Header (Page header) -->
                <section class="content-header" ng-controller="ClientAfterLoginTemplateInfo">
                    <span><button class="btn btn-success btn-flat">Show Detail</button> </span>
                        <!--<span class="active"><button ng-click="openTemplateEditPageWithId(templateId)" class="btn btn-warning">Edit</button></span>-->
                        <span class="active"><button ng-click="deleteTemplatePageWithId(templateId)" class="btn btn-danger">Delete</button></span>
                </section>

                <!-- Main content -->
                <section class="content">                   
                    <!-- top row -->
                    <div class="row">
                        <div class="col-xs-12 connectedSortable">
                            
                        </div><!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <!-- Main row -->
                    <div class="row">
                        <!-- Left col -->
                        <section class="col-lg-12 connectedSortable">                            
                           <div class="box box-color box-bordered">
                <div class="box-title">
                    <h3>
                        <i class="icon-user"></i>Information
                    </h3>
                </div>
                <div class="box-content nopadding" ng-controller="ClientAfterLoginTemplateInfo">                    
                    <div class="row">
                        <div class="col-md-6">
                            <div id="container_highcharts_completed_vs_remaining" style="height: 400px"></div>                        
                        </div>
                        <div class="col-md-6">
                            <div id="container_highcharts_horizontal_bar_chart_ratio_completed_reviewed_remaining" style="height: 400px"></div>      
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="container_highcharts_completed_vs_reviewed" style="height: 400px"></div>                        
                        </div>
                        <div class="col-md-6">
                            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>  
                        </div>
                    </div>
                </div>
            </div>
                        </section><!-- /.Left col -->                        
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
         
        <!-- page script -->

        <script type="text/javascript">

            $(document).ready(function () {
               
                Highcharts.setOptions({
                    colors: ['#00FF00', '#0000FF']
                });

                $('#container_highcharts_completed_vs_remaining').highcharts({
                    chart: {
                        type: 'pie',
                        options3d: {
                            enabled: true,
                            alpha: 45
                        }
                    },
                    title: {
                        text: 'Ratio'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    subtitle: {
                        text: 'completed : remaining'
                    },
                    plotOptions: {
                        pie: {
                            size: '100%',
                            innerSize: 100,
                            depth: 45,
                            dataLabels: {
                                enabled: false
                            }
                        }
                    },
                    series: [{
                        name: 'Delivered amount',
                        data: [
                                ['Completed', 55.0],
                                ['Remaining', 45.0]                                                       
                            ]
                    }]
                });                

                Highcharts.setOptions({
                    colors: ['#0000FF', '#FF0000']
                });
                

                $('#container_highcharts_completed_vs_reviewed').highcharts({
                    chart: {
                        type: 'pie',
                        options3d: {
                            enabled: true,
                            alpha: 45
                        }
                    },
                    title: {
                        text: 'Ratio'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    subtitle: {
                        text: 'completed : remaining'
                    },
                    plotOptions: {
                        pie: {
                            size: '100%',
                            innerSize: 100,
                            depth: 45,
                            dataLabels: {
                                enabled: false
                            }
                        }
                    },
                    series: [{
                        name: 'Delivered amount',
                        data: [
                                ['Reviewed', 30.0],
                                ['Unreviwed', 70.0]
                            ]
                    }]
                });

                Highcharts.setOptions({
                    colors: ['#368ee0']
                });

                $('#container_highcharts_horizontal_bar_chart_ratio_completed_reviewed_remaining').highcharts({
                    chart: {
                        type: 'column',
                        margin: 75,
                        options3d: {
                            enabled: true,
                            alpha: 10,
                            beta: 25,
                            depth: 70
                        }
                    },
                    title: {
                        text: 'Ratio'
                    },
                    subtitle: {
                        text: 'completed : reviewed : remaining : total'
                    },
                    plotOptions: {
                        column: {
                            depth: 25
                        }
                    },
                    xAxis: {
                        categories: ['completed','reviewed','remaining','total']
                    },
                    yAxis: {
                        opposite: true
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{
                        name: 'Sales',
                        data: [55,30,45,100]
                    }]
                });

                Highcharts.setOptions({
                    global: {
                        useUTC: false
                    }
                });

                var chart;
                $('#container').highcharts({
                    chart: {
                        type: 'spline',
                        animation: Highcharts.svg, // don't animate in old IE
                        marginRight: 10,
                        events: {
                            load: function () {

                                // set up the updating of the chart each second
                                var series = this.series[0];
                                setInterval(function () {
                                    var x = (new Date()).getTime(), // current time
                                y = Math.random();
                                    series.addPoint([x, y], true, true);
                                }, 1000);
                            }
                        }
                    },
                    title: {
                        text: 'Real time data'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150
                    },
                    yAxis: {
                        title: {
                            text: 'Value'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{
                        name: 'Random data',
                        data: (function () {
                            // generate an array of random data
                            var data = [],
                        time = (new Date()).getTime(),
                        i;

                            for (i = -19; i <= 0; i++) {
                                data.push({
                                    x: time + i * 1000,
                                    y: Math.random()
                                });
                            }
                            return data;
                        })()
                    }]
                });

            });
            
        </script>