<!-- Content Header (Page header) -->
<div ng-controller="ClientAfterLoginTemplateInfo">
                <section class="content-header" >
                    <span><button class="btn btn-success btn-flat" ng-show="templateInfoShowDetailButtonShow" ng-click="openTemplateResponseDetailPageWithId()">Show Detail</button> </span>
                        <!--<span class="active"><button ng-click="openTemplateEditPageWithId(templateId)" class="btn btn-warning">Edit</button></span>-->
                    <span class="active"><button ng-click="deleteTemplatePageWithId(templateId)" class="btn btn-danger">Delete</button></span>
                    <span><button ng-show="templateInfo.verified != accepted" ng-click="acceptCompleteTemplatePageWithId(templateId,type,subType,'Accepted')" class="btn btn-success">I Accept the answer</button></span>
                    <span><button ng-show="templateInfo.verified != accepted" ng-click="acceptCompleteTemplatePageWithId(templateId,type,subType,'Rejected')" class="btn btn-danger">I Reject the answer</button></span>
                </section>

                <!-- Main content -->
                <section class="content">                   
                    <!-- top row -->
                    <div class="row">
                        <div class="col-xs-12 connectedSortable">
                            <b><span ng-bind="templateInfo.title"></span></b>
                        </div><!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <!-- Main row -->
                    <div class="row">
                        <!-- Left col -->
                        <section class="col-lg-12 connectedSortable">                            
                           <div class="box box-color box-bordered">
                <div class="box-title">
                    <h3>
                        <i class="icon-user"></i>Information
                    </h3>
                </div>
                <div class="box-content nopadding">                    
                    <div class="row">
                        <div class="col-md-6">
                              <div id="container_highcharts_completed_vs_reviewed{{templateId}}" style="height: 400px"></div>
                        </div>
                        <div class="col-md-6">
                            <div id="container_highcharts_horizontal_bar_chart_ratio_completed_reviewed_remaining{{templateId}}" style="height: 400px"></div>      
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">                            
                            <div id="container_highcharts_completed_vs_remaining{{templateId}}" style="height: 400px"></div>                       
                        </div>
                        <div class="col-md-6">
                            <div id="container_highcharts_realtime_data" style="min-width: 310px; height: 400px; margin: 0 auto"></div>  
                        </div>
                    </div>
                </div>
            </div>
                        </section><!-- /.Left col -->                        
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
         
        <!-- page script -->
  </div>
        <script type="text/javascript">

            $(document).ready(function () {
                               
                Highcharts.setOptions({
                    global: {
                        useUTC: false
                    }
                });

                var chart;
                $('#container_highcharts_realtime_data').highcharts({
                    chart: {
                        type: 'spline',
                        animation: Highcharts.svg, // don't animate in old IE
                        marginRight: 10,
                        events: {
                            load: function () {

                                // set up the updating of the chart each second
                                var series = this.series[0];
                                setInterval(function () {
                                    var x = (new Date()).getTime(), // current time
                                y = Math.random();
                                    series.addPoint([x, y], true, true);
                                }, 1000);
                            }
                        }
                    },
                    title: {
                        text: 'Real time data'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150
                    },
                    yAxis: {
                        title: {
                            text: 'Value'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                        Highcharts.numberFormat(this.y, 2);
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{
                        name: 'Random data',
                        data: (function () {
                            // generate an array of random data
                            var data = [],
                        time = (new Date()).getTime(),
                        i;

                            for (i = -19; i <= 0; i++) {
                                data.push({
                                    x: time + i * 1000,
                                    y: Math.random()
                                });
                            }
                            return data;
                        })()
                    }]
                });

            });
            
        </script>