<div class="container padding-class" ng-controller="beforeLoginFAQ">
    <div class="row">                      
        <div class="col-md-12">        
            <div class="pageIntro">
                <div class="PsTitle">
                    <span>       FAQs    </span>
                </div>
                <div class="div_c"></div>
            </div>
            <ul><li><h3>General</h3>
                            </li>
                            <li> <a style="cursor: pointer;" ng-click="scrollTo('HowToJoinM2E')">How can I join M2E?</a></li>
                            <li> <a style="cursor: pointer;" ng-click="scrollTo('MultipleAccounts')">Can I have multiple accounts?</a></li>
                            <li> <a style="cursor: pointer;" ng-click="scrollTo('CostToJoinM2E')">Does it cost to join M2E?</a></li>
                            <li> <a style="cursor: pointer;" ng-click="scrollTo('ForgotMyPassword')">What if I forgot my password?</a></li>
                            <li> <a style="cursor: pointer;" ng-click="scrollTo('UpdatePersonalInformation')">How to update my personal information?</a></li>
                            <li> <a style="cursor: pointer;" ng-click="scrollTo('DeleteMyAccount')">Can I delete my account?</a></li>
                            <li> <a style="cursor: pointer;" ng-click="scrollTo('HowMuchICanEarnPerDay')">How much can I earn per day?</a></li>
                            <li> <a style="cursor: pointer;" ng-click="scrollTo('TrackingSystem')">Do you have a tracking system?</a></li>
                        </ul>
                        <ul><li><h3>Payment related</h3>
                            </li>
                            <li> <a style="cursor: pointer;" ng-click="scrollTo('HowDoIGetPaid')">How do I get paid?</a></li>
                            <li> <a style="cursor: pointer;" ng-click="scrollTo('MinBalanceForWithdrawal')">What are the minimum amount required to withdraw money to a bank account?</a></li>
                            <li> <a style="cursor: pointer;" ng-click="scrollTo('CheckMyBalance')">How can I check the amount of money in my account?</a></li>
                            <li> <a style="cursor: pointer;" ng-click="scrollTo('DaysToCreditAmountInMyAccount')">Once I complete a job, how many days it will take to credit my account?</a></li>
                            <li> <a style="cursor: pointer;" ng-click="scrollTo('DaysToCreditAmountInMyBankAccount')">How many days it takes to credit money to my bank account?</a></li>
                            <li> <a style="cursor: pointer;" ng-click="scrollTo('CustomerServiceNumber')">Do you have customer service number?</a></li>  
                        </ul>


        </div>
    </div><!-- /.row --> 
    <div class="row">
        
        
        
        
        <div class ="col-md-12">
            <div id="accordion2" class="Description aside_css">
                <div class="" ng-repeat="faq in FAQquestionsList">
                    <div class="{{faq.className}} div_heading_gen">
                        <a id="{{faq.id}}" >
                            <span ng-bind="faq.question"></span>
                        </a>
                    </div>
                    <div class="div_c"></div>	
                    <div class="in">
                        <div class="accordion-inner">
                            <span class=" aside_css" data-ng-bind-html="faq.answer"></span>
                        </div>
                    </div>
                </div>                		           					
            </div>
        </div>
    </div><!-- /.row -->  

</div>
<style>
    .aside_css {
        font: 0.813em/1.538em 'wf_SegoeUI','Segoe UI',Tahoma,Verdana,Arial,Helvetica,sans-serif;
        font-size: 1em;
        color: #000000;
    }
    .aside_css
    a {
        font: 0.813em/1.538em 'wf_SegoeUI','Segoe UI',Tahoma,Verdana,Arial,Helvetica,sans-serif;
        color: #000000;
    }

</style>