<div class="container padding-class" ng-controller="termsPrivacyController">
    <div class="row">                      
        <div class="col-md-12">        
            <div class="pageIntro">
                <div ng-class="{true:'PsTitle PsTitle_Font_m', false:'PsTitle PsTitle_Font_w'}[IsMobileDevice]">
                    <span>       Crowd Automation Terms, Privacy &amp; Cookies Statement    </span>
                </div>
                <div class="div_c"></div>
                    <div id="short_div Description">
                        <div class="Description">
                            <p>
                                This privacy statement applies to Crowd Automation and its services that collect data and display these terms, as well as their offline product support services.      By visiting/registering on our website, you as a Crowd Automation Requester or Crowd Automation Accepter agree to all terms and conditions laid down in terms of fair practices and current law in the country of India.
                            </p> 
                            <p>
                                Anyone can access the services of the website, either earn or get their work done. But all payment related aspects will be strictly restricted to the prevailing law. For example if your earnings go beyond a limit set by our company, you will be required to submit Tax details for withdrawal of the money. This website provides platform for citizens to outsource their talents as to monetize it. Also Requester get access to Accepter at a fraction of cost, but at the same time retaining the quality.
                            </p>    
                        </div>
                    </div>
                </div>
                </div>
    </div><!-- /.row --> 

    <div class="row">
        <div class="col-md-9">
            <div class="page">
                <div ng-show="contentList.showDiv" ng-repeat="contentList in tncContents" class="hide-fade">
                    <div class="{{contentList.headerClass}} div_heading_gen">
                        <div ><span ng-bind="contentList.headerLabel"></span></div>
                    </div>
                    <div class="div_c"></div>
                    <div>
                        <div class="Description">
                            <div ng-repeat="paragraph_list_data in contentList.ContentList">
                                <p  ng-repeat="paragraph in paragraph_list_data.paragraphList">
                                    <span style="text-decoration: underline" ng-show="paragraph.isUnderline" ng-bind="paragraph.text"></span>
                                    <span ng-show="!paragraph.isUnderline" ng-bind="paragraph.text"></span>
                                </p>                                
                                <ul>
                                    <li ng-repeat="list in paragraph_list_data.dataList"><span ng-bind="list.text"></span></li>                                
                                </ul>
                            </div>                            
                        </div>
                    </div>
                    <div ng-show="!isAllExpanded">
                        <div class="TopNavigation" style="visibility: visible;" title="Top of page">
                            <a ng-click="divTo(-1)" style="text-decoration: underline;">
                                <span>Expand all</span>
                            </a>
                        </div><div class="clear"></div>
                    </div>
                </div>
      
            </div>
        </div>
  
            <div class="col-md-3"> 
                <div id="menu_cookie_div">
                    <div class="div_side_comp">
                        <div ng-repeat="contentList in tncContents">
                            <div class="right-div-column"> </div>
                            <div class="{{contentList.RightBoxClass}} right-div-column-gen" ng-click = "divTo($index)">
                                    <div id="Div4" class="Right_Nav_Title"><span ng-bind="contentList.headerLabel"></span></div>
                            </div>
                        </div>                         
                        <div class="right-div-column"> </div>
                    </div>
                </div> 
            </div>
        </div><!-- /.row --> 
    </div>



