<div class="container padding-class" ng-controller="beforeLoginFAQ">
    <div class="row border_line">
        <div class="pageIntro col-md-12" style="text-align: center">
            <div class="PsTitle PsTitle_Font_w" ng-class="{true:'PsTitle PsTitle_Font_m', false:'PsTitle PsTitle_Font_w'}[IsMobileDevice]">
                FAQ > Overview    
            </div>
            <div class="div_c"></div>       
        </div>
                                  
        <div class="col-md-6">     
            <h3>General queries</h3>
            <ul>
                <li ng-repeat="faq in FAQGeneralList"> <a style="cursor: pointer;" ng-click="scrollTo(faq.id)"><span ng-bind="faq.question"></span></a></li>
            </ul>
        </div>
        <div class="col-md-6"> 
            <h3>General policies</h3>
            <ul>
                <li> <a style="cursor: pointer;" ng-click="scrollTo('HowDoIGetPaid')">How do I get paid?</a></li>
                <li> <a style="cursor: pointer;" ng-click="scrollTo('MinBalanceForWithdrawal')">What are the minimum amount required to withdraw money to a bank account?</a></li>
                <li> <a style="cursor: pointer;" ng-click="scrollTo('CheckMyBalance')">How can I check the amount of money in my account?</a></li>
                <li> <a style="cursor: pointer;" ng-click="scrollTo('DaysToCreditAmountInMyAccount')">Once I complete a job, how many days it will take to credit my account?</a></li>
                <li> <a style="cursor: pointer;" ng-click="scrollTo('DaysToCreditAmountInMyBankAccount')">How many days it takes to credit money to my bank account?</a></li>
                <li> <a style="cursor: pointer;" ng-click="scrollTo('CustomerServiceNumber')">Do you have customer service number?</a></li>  
            </ul>
        </div>
    </div><!-- /.row --> 

        <h3>Accepter FAQs</h3>
            <ul>
                <li ng-repeat="faq in FAQGeneralList"> <a style="cursor: pointer;" ng-click="scrollTo('faq.id')"><span ng-bind="faq.question"></span></a></li>
            </ul>
            <h3>General queries</h3>
            <ul>
                <li ng-repeat="faq in FAQGeneralList"> <a style="cursor: pointer;" ng-click="scrollTo('faq.id')"><span ng-bind="faq.question"></span></a></li>
            </ul>

    <div class="row">
        <div class ="col-md-12">
            <div id="accordion2" class="Description aside_css">
                <div class="" ng-repeat="faq in FAQGeneralList">
                    <div class="{{faq.className}} div_heading_gen">
                        <a id="{{faq.id}}" >
                            <span ng-bind="faq.question"></span>
                        </a>
                    </div>	
                    <div class="in box-content">
                        <div class="accordion-inner">
                            <span class=" aside_css1" data-ng-bind-html="faq.answer"></span>
                        </div>
                    </div>
                    <div class="div_c"></div><div class="div_c"></div><div class="div_c"></div>
                </div>                		           					
            </div>
        </div>
    </div><!-- /.row -->  
</div>

<style>
    
    .box-content:after {
    clear: both;
    content: "";
    display: table;
}
.box-content:after {
    clear: both;
    content: "";
    display: table;
}
*, *:before, *:after {
    box-sizing: border-box;
}


.box-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 2px 2px;
}
.box-content {
    background: none repeat scroll 0 0 #fff;
    padding: 0px;
    border-color: #eeeeee;
    border-width: 1px;
}


     .aside_css {
         font: 0.813em/1.538em 'wf_SegoeUI','Segoe UI',Tahoma,Verdana,Arial,Helvetica,sans-serif;
         font-size: 1em;
     }
          .aside_css1 {
         font: 0.813em/1.538em 'wf_SegoeUI','Segoe UI',Tahoma,Verdana,Arial,Helvetica,sans-serif;
         font-size: 1em;
         color: #000000;
         position: relative;
         top: 5px;
     }
    .aside_css
    a {
        font: 0.813em/1.538em 'wf_SegoeUI','Segoe UI',Tahoma,Verdana,Arial,Helvetica,sans-serif;
        color: #000000;
    }
</style>